<% if @stalkee.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@stalkee.errors.count, "error") %> prohibited
        this twitter handle from being saved:
      </h2>
      <ul>
        <% @stalkee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= simple_form_for(@stalkee) do |f| %>
	<%= f.input :twitter_handle, placeholder: "Enter you Twitter Handle" %>
	<br>
	<%= f.submit %>
<% end %>