<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TwitterStalky</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Pacifico|Lobster' rel='stylesheet' type='text/css'>
  <%=favicon_link_tag "favicon" %>
</head>
<body style="text-align: center;">
<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<!--       <img alt="Brand" src=".../assets/images/logo.jpg"> -->
     
      <%= link_to root_path,class:"navbar-brand" do %>
          <%= image_tag "logo",alt:"logo",height:"70px",width:"75px"%>
      <% end %>
       <%= link_to "@myTwitterStalky",root_path,class:"navbar-brand" %>

     <!--  <a class="navbar-brand" href="#">Twitter Stalky</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://www.anujraajgoel.com" target="_blank">  Made with &hearts; by me </a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<%= yield %>
<br><br><br><br>
<!-- footer-->
<nav class="navbar navbar-default" style="position: relative; bottom: 0; margin-bottom: 0;">
  <div class="container">
    <h2>Say, Hello! </h2>

    <ul class="list-inline">

        <li>
            <a href="https://www.facebook.com/reachtoanujraaj" class="btn-social btn-outline"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="#" class="btn-social btn-outline"><i class="fa fa-google-plus fa-3x" aria-hidden="true"></i></a>
        </li>
         <li>
             <a href="#" class="btn-social btn-outline"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://in.linkedin.com/in/anujraaj-goel-734137110" class="btn-social btn-outline" ><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
        </li>
        <br><br>
        
    </ul>

    <section id="contact" class="map">
<div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7206.68109699593!2d81.77184240000001!3d25.426875800000012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x1f0c03a031f74c3f!2sIndian+Institute+of+Information+Technology+Allahabad!5e0!3m2!1sen!2sin!4v1460300193519" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen>
          
        </iframe>
       </div>
    </section>
  </div>
</nav>

</body>
</html>
